<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <%- include("header") %> <%- include("nav") %>

    <!-- CART PAGE -->
    <h1 class="shopping-heading">Shopping Cart</h1>
    <div class="cart-container">
      <% cartItems.forEach(item => { %>
        <div class="cart-item">
          <img src="<%= item.productImage %>" alt="<%= item.productName %>">
          <div>
            <h3><%= item.productName %></h3>
            <p>Price: $<%= parseFloat(item.productPrice.replace('$', '₹')).toFixed(2) %></p>
            <p>Category: <%= item.category %></p>
          </div>
          <!-- You can add a form here to handle the "Delete" action -->
          <!-- For simplicity, I'm using a button with an onclick event -->
          <button onclick="deleteCartItem('<%= item._id %>')">Delete</button>
        </div>
      <% }); %>
    
      <div class="cart-total">
        <p onclick="calculateTotal(cartItems)">Total:   </p>
        <a href="/payment"><button class="shopping-button">Checkout</button></a>
        
      </div>
    </div>


    <%- include("footer") %>

    <script>
     // Function to delete a cart item (you may want to send an AJAX request to the server)
     function deleteCartItem(itemId) {
        console.log('Deleting item with ID:', itemId);
        // You can add logic here to delete the item from the cart
      }

      // Function to calculate the total price
      function calculateTotal(cartItems) {
        return cartItems.reduce((total, item) => total + parseFloat(item.productPrice.replace('$', '')), 0).toFixed(2);
      }
    </script>
  </body>
</html>
